html, body {
  height: 100%;  
}

#header {
  padding-top:10px;
}

#footer {
  /*height: 60px;*/
}

div.rounded {
  border: 1px solid #ccc;
  border-radius: 15px;
}

div.full-height {
  height: 100%;
}

#dice-interactive-area {
  /*width: 100%;*/
  overflow: visible;
  position: relative;
  text-align: center;
}

#dice-container {
  height: 80%; 
  margin-left: auto;
  margin-right: auto;
}

#dice-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; 
}

#dice-span {
  display: inline-block; 
  vertical-align: middle; 
  width: 95%;
}


#dice-controlls {
  height: 20px;
}

#dice-count {
  width: 20pt;
}

.die-div {
  display: inline-block;
}

.inverted {
  color: #FFF;
}

.text {
  text-align: left;
}

@media all and (max-width: 761px) {
  .inverted {
    line-height: 22pt;
    font-size: 22pt;
  }
}

@media all and (max-width: 480px) {
  .inverted {
    line-height: 18pt;
    font-size: 18pt;
  }
}

