html, body {
  height: 100%;  
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -60px;
}

#footer {
  height: 60px;
  left: 0;
  bottom: 0;
}

div.rounded {
  border: 1px solid #ccc;
  border-radius: 15px;
}

div.full-height {
  height: 100%;
}

div.full-width {
  width: 100%;
}

#dice-interactive-area {
  width: 100%;
  overflow: visible;
  position: relative;
}

div.dice-container {
  height: 80%; 
}

div.dice-controlls {
  height: 20px;
}

