<!doctype html>

<html lang="en" ng-app="DiceApp">
  <head>
    <title>Nice up the dice</title>
    <script src="js/angular.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/dice.js"></script>
    <script src="js/localStorageModule.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/gradient.css">
    <link rel="stylesheet" href="css/dice.css">
    <link rel="stylesheet" href="css/animate-custom.css">
  </head>

  <body style="background-color:#333333;">

    <div class="container full-height">
      <div class="wrapper">

        <header id="header" class="jumbotron subhead">
          <h1 style="color:#FFFFFF;">Nice up the Dice</h1>
        </header>

        <div class="container span4 rounded text-center" id="dice-interactive-area" style="background-color:#FFFFFF;" ng-controller="DiceController">

          <div class="row dice-container full-width">
            <div class="span12">

              <ul class="inline text-center">
                <li ng-repeat="die in dice">
                <div class="" style="height:{{edge_length()}}px;
                  width:{{edge_length()}}px; min-height:20; min-width:20;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="100%" width="100%" display="block" preserveAspectRatio="xMidYMin">
                      <!-- <svg defs></svg> for all eye values here, use them below. -->
                      <use xlink:href="svg/dice.svg#square" />
                      <use xlink:href="svg/dice.svg#{{die.value}}" />
                    </svg>
                  </div>
                  <!-- <img width="100em" style="margin:4px;"
                  src="svg/{{die.value}}.svg"> -->
<!--                    <object data="svg/{{die.value}}.svg" type="image/svg+xml"></object>-->
                </li>
              </ul>
            </div>
          </div> <!-- dice -->

          <div class="row">
            <div id="dice-controlls" class="span12">
              <button class="btn btn-primary btn-large" ng-click="roll()"><i class="icon-refresh"></i> Roll</button>
              <hr>
              <button class="btn btn-mini btn-info" ng-click="add_die()"><i class="icon-plus"></i> More</button>
              <span class="label label-info">{{num_dice()}} {{die_or_dice()}}</span>
              <button class="btn btn-mini btn-info" ng-click="remove_die()"><i class="icon-minus"></i> Less</button>
            </div> <!-- controlls -->
          </div>

        </div> <!-- white area -->
      </div> <!-- wrapper -->

      <div id="footer">
        <div class="row">
          <div class="span12">
            <h1 style="color:#FFF;">Footer</h1>
          </div>
        </div>
      </div> <!-- footer -->
    </div> <!-- container -->
  </body>
</html>



