<!doctype html>

<html lang="en" ng-app="DiceApp">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Dice Simulator</title>
    <script src="js/angular.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/dice.js"></script>
    <script src="js/localStorageModule.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type='application/javascript' src='js/fastclick.js'></script>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/gradient.css">
    <link rel="stylesheet" href="css/dice.css">
    <link rel="stylesheet" href="css/animate-custom.css">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42993985-1', 'sternisko.com');
      ga('send', 'pageview');
    </script>
  </head>

  <body style="background-color:#333333;">

    <div class="container full-height">

      <header id="header" class="jumbotron subhead hidden-phone">
        <h1 class="inverted">Nice up the Dice!</h1>
      </header>

      <div class="container rounded"
        id="dice-interactive-area" style="background-color:#FFFFFF; margin:10px 0px;"
        ng-controller="DiceController" ng-init="onload()">

        <div id="dice-container" class="row-fluid">
          <div id="dice-span">
            <div ng-repeat="die in dice" class="die-div" ng-style="{height: edge_length + 'px', width: edge_length + 'px'}">
              <svg ng-click="switch_fixation(die.index)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="100%" width="100%" display="block" preserveAspectRatio="xMidYMin">
                <use xlink:href="svg/dice.svg#square{{die.fixed}}" />
                <use xlink:href="svg/dice.svg#{{die.value}}" />
              </svg>
            </div>
          </div>
        </div> <!-- dice -->

        <div class="row">
          <div id="dice-controlls" class="span12">
            <button class="btn btn-primary" ng-click="roll()"><i class="icon-refresh"></i> Roll</button>
            <div class="btn-group">
              <button class="btn" ng-click="add_die()"><i class="icon-plus"></i></button>
              <button class="btn disabled" id="dice-count">{{dice.length}}</button>

              <button class="btn" ng-click="remove_die()"><i class="icon-minus"></i></button>
            </div>
            <a href="#infoModal" role="button" class="btn" data-toggle="modal"><i class="icon-info-sign"></i></a>
          </div> <!-- controlls -->
        </div>

        <div id="infoModal" class="modal hide fade text" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <h3>ParaDice v1.0</h3>
            <p>A lightweight, resource-saving web-app to roll the {dice,dados,dés,W&uuml;rfel}.<p>
          </div>
          <div class="modal-body">
            <p>Tap a die to fix it (eyes wont change on roll).</p>
            <p>Please give your feedback, report bugs or request new features 
               via Twitter <a href="https://twitter.com/julio191">@julio191</a> 
               or to <a href="https://github.com/girone/paradice/issues">the project's page</a> 
               at github.
               <!--<a href="http://sternisko.com/app-eck/">the developer's blog</a>.-->
            </p>
          </div>
          <div class="modal-footer">
          </div>
        </div>

      </div> <!-- white area -->

      <div id="footer" class="hidden-phone">
        <div class="row">
          <div class="span12">
            <h1 class="inverted"><!-- Footer --></h1>
          </div>
        </div>
      </div> <!-- footer -->
    </div> <!-- container -->
  </body>
</html>



